node_modules
node_modules_old
build
database.json
config.json
npm-debug.log
schema-version.json
databases
config.js
err.log
out.log
.history/
src/plugins/overwatch/utils/data.json
/plugins/
yarn-error.log
